@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="@Url.Content("~/Content/About.css")" rel="stylesheet" type="text/css" />

<div class="box" id="box_about">
    <div class="box_title">About</div>
    <div class="box_content">
        <p>
            Put content here.
        </p>
    </div>
</div>
