.menu_about.menu_left
{
    background: url("../Content/Images/menu_left.png") no-repeat #eaffe6;
}

.menu_about.menu_right
{
    background: url("../Content/Images/menu_right.png") 100% 0 no-repeat;
}

.menu_about.menu_middle>a:link, .menu_about.menu_middle>a:visited
{
    color: Black;
}

div#box_about
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}