<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="OCWEntities" connectionString="metadata=res://*/OCWModel.csdl|res://*/OCWModel.ssdl|res://*/OCWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=1cw_database;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="OCW.Services.OCWService" behaviorConfiguration="LisbonWalkerServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="OCW.Services.Interfaces.IOCWService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/OCW"/>
          </baseAddresses>

        </host>
      </service>
    </services>



    <behaviors>

      <serviceBehaviors>
        <behavior name="LisbonWalkerServiceBehavior">
          <serviceMetadata httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
